.array-container {
    width: 100%;
    height: 100%;
    display:block;
}

.array-bar {
    width: 2px;
    background-color: rgba(212, 0, 255, 0.5);
    display: inline-block;
    margin: 0 1px;
    vertical-align:top;
}

#buttons {
    display: block;
}

.navbar{
padding: 10px;
display: block;
background-color: rgb(20, 150, 220, 0.8);
}

#generate{
    margin-right:10px;
}